body {
	margin: 0;
	padding: 0;
	background-color: orange;
	font-family: "Avenir Next", "Avenir", sans-serif;
}

#menuToggle {
	display: block;
	position: relative;
	top: 35px;
	left: 35px;
	z-index: 3;
	-webkit-user-select: none;
	user-select: none;
	width: 115px;
}

#menuToggle a {
	text-decoration: none;
	color: #232323;
	transition: color 0.3s ease;
}

#menuToggle a:hover {
	color: tomato;
}

#menuToggle input {
	display: block;
	width: 40px;
	height: 32px;
	position: absolute;
	top: -7px;
	left: -5px;
	cursor: pointer;
	opacity: 0;
	z-index: 4;
	-webkit-touch-callout: none;
}

#menuToggle span {
	display: block;
	width: 33px;
	height: 4px;
	margin-bottom: 5px;
	position: relative;
	background: #cdcdcd;
	border-radius: 3px;
	z-index: 3;
	transform-origin: 4px 0px;
	transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
		background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
		opacity 0.55s ease;
}

#menuToggle span:first-child {
	transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
	transform-origin: 0% 100%;
}

#menuToggle input:checked~span {
	opacity: 1;
	transform: rotate(45deg) translate(-2px, -1px);
	background: #232323;
}

#menuToggle input:checked~span:nth-last-child(3) {
	opacity: 0;
	transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
	transform: rotate(-45deg) translate(0, -1px);
}

#menu {
	position: absolute;
	width: 300px;
	margin: -100px 0 0 -50px;
	padding: 50px;
	padding-top: 125px;
	background: #ededed;
	list-style-type: none;
	-webkit-font-smoothing: antialiased;
	transform-origin: 0% 0%;
	transform: translate(-100%, 0);
	transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
	padding: 10px 0;
	font-size: 22px;
}

#menuToggle input:checked~ul {
	transform: none;
}

div.logo-site {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

nav {
	display: flex;
	/* justify-content: space-evenly; */
	background-color: #FFBA36;
}

.right {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 120px;
}

.logo {
	width: 115px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.utilisateur {
	width: 70px;
	display: flex;
}

div.commande {
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 20px;
	margin-top: 10px;
}

.boutton-1 {
	background-color: red;
	width: 50%;
	height: 80px;
	font-family: pacifico;
	font-size: 25px;
}

.boutton-2 {
	background-color: green;
	width: 50%;
	height: 80px;
	font-family: pacifico;
	font-size: 25px;
}

.slider-container {
	max-width: 80%;
	position: relative;
	margin: auto;
	height: 350px;
	overflow: hidden;
}

.carrousel {
	position: absolute;
	left: 0;
	width: 100%;
	bottom: 0;
	text-align: center;
}

.carrousel label {
	cursor: pointer;
	display: inline-block;
	width: 10px;
	height: 10px;
	background: #ccc;
	border-radius: 50px;
	margin: 0 0.2em 1em;
}

.carrousel label:hover,
.menu label:focus {
	background: #1c87c9;
}

.slide-input {
	opacity: 0;
}

.slide-img {
	width: 100%;
	height: 300px;
	position: absolute;
	top: 0;
	left: 100%;
	z-index: 1;
	transition: left 0s 0.75s;
}

[id^="slide"]:checked+.slide-img {
	left: 0;
	z-index: 2;
	transition: left 0.65s ease-out;
}

h1 {
	display: flex;
	justify-content: center;
}

.image-pizza {
	margin: 50px;
	display: flex;
	align-items: flex-start;
}

h2 {
	margin: 50px;
	font-size: 16px;
}

p {
	margin: 20px;
}

.commande-boutton {
	padding: 10px 20px;
	background-color: red;
	color: black;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	margin-top: 10px;
	display: block;
}

.commande-boutton:hover {
	background-color: #BE0F0F;
}

.text-1 {
	display: flex;
	flex-direction: column;
}

button.commande-boutton {
	margin: 50px;
}
.prix{
	margin-left: 100px;
}
.prix2{
	
}